body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    flex-basis: 200px;
    flex-grow: 1;
}

#container div {
    width: 200px;
    height: 200px;
    font-size: 4em;
}

/* shorthand : flex: flex-grow, flex-shrink, flex-basis */

/* when i want position 1 thing at the time within 
this flex container */
/* div:nth-last-of-type(3) {
    align-self: flex-end;
}

div:nth-last-of-type(2) {
    align-self: center;
} */
main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar {
    background-color: #6930c3;
    flex: 1 300px;
    /* border: 2px solid wheat; */
}
main .maincontent {
    background-color: #80ffdb;
    flex: 1 600px;
}